
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,900&display=swap');
:root{
    --primary:#373E40;
    --secondary:#488286;
}

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(245, 243, 244, 0.6);
    font-family: 'Roboto',sans-serif;
}
#header{
    background-color: var(--primary);
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#header #header_img{
    margin-left: 20px;
    height: 20px;

}

#header_img img{
    width: 50px;
}

#header nav{


    margin-right: 50px;
    width: 300px;
    display: flex;
    justify-content: space-around;


}

#nav-bar .nav-link{
    color: white;
    text-decoration: none;
 
    font-weight: lighter;
}


.hero{
    background-image: url("../IMG/img1.png");

    background-repeat: no-repeat;
    background-size: 100% 
    700px;
    height: 600px;
    position: relative;
    background-attachment: fixed;
}
.hero .hero_overlay{

    background-color: rgba(48, 82, 82, 0.5);
    margin: 0;
    height: 600px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}


.hero_overlay h1{
    color: white;

    font-weight: 900;
    letter-spacing: 5px;
    font-size: 4em;
    margin: 0;

}

.hero_overlay p{
    color: white;

    font-weight: 300;
}

.hero_overlay .hero_overlay--enlace{

    background:var(--secondary);

    border-radius: 10px;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    transition-duration: 0.2s;
    margin-top: 25px;
    outline: none;
    

}

.hero_overlay .hero_overlay--enlace:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.02);
}



.carinfo{
    height: 200px;
    width:100% ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

}

.carinfo .carinfo_element{
    border: 2px solid var(--primary);
    border-radius: 10px;
    height: 100px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    outline: none;
    
}


.carinfo_element:hover{
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);

    color: white;
}

.info{
    background-color:var(--secondary);
    display: flex;
 
    align-items: center;
    flex-direction: column;
    height: 400px;

 

}

.info .info_title{
    height: 50px;
}

.info .info_title h1{
    color: var(--primary);
    font-weight: 900;
    font-size: 2em;
    margin-top: 20px;
}

.info .info_general{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
}


.info_general .info_general--desc{
    width: 400px;
    height:250px;

}
.info_general--desc p{
    color: white;
    font-size: 1.5em;
    margin-top: 50px;
}

.info_general .info_video{
    width:460px; 
    height:215px;
}


.info_video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.products{

    min-height: 400px;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.products .products_title{
    border-bottom:1px solid var(--secondary) ;
    width: 500px;
    padding: 0;
    margin-bottom: 30px;
    padding-top: 20px;
    
}

.products_title h2{
    color: var(--primary);
    text-align: center;
    margin-bottom: 0;
}

.products__cards{
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{

    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

}

.card__inner.is-flipped{
    transform:rotateY(180deg);

}


.card__face{
    position:absolute;
    height: 100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.25);
}

.card__face--front{
    background-image:url("../IMG/img2.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}


#overlay-card{
    background-color: rgba(48, 82, 82, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 20px;
    
}

.card__face--back{
    background-color: var(--primary);
    transform: rotateY(180deg);
}

.card__body{
    width: 100%;
    height: 100%;

}

.card__title{
    border-bottom: 1px solid var(--secondary);
    text-align: center;
    color: white;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card__body{
    display: flex;

    align-items: center;
    flex-direction: column;
}

.card__body--desc {
    width: 250px;
}
 .card__body--desc p {
    color: white;
    font-weight: lighter;
    font-size:0.9em;
    margin-top: 10px;
    margin-bottom: 20px;
}


.card__body--btn{
    background-color: var(--secondary);
    border-radius: 10px;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__body--btn a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
  
}

.questions{
    background-color: var(--primary);
    height: 400px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;

}


.questions .questions_img{
    width: 500px;
    height: 300px;

}


.questions_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.questions .questions_form--descrip{
    border: 1px solid var(--secondary);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.questions_form--descrip h3{
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 15px;
}

.questions_form--descrip p{
    color: white;
    padding-left: 50px;
    font-size: 1.5em;
    margin-bottom: 25px;

}
.questions_form--descrip form{
    display: flex;
    flex-direction: column;
}

.questions_form--descrip input[type=email]{
    border-radius: 5px;
    height: 30px;
    outline: none;
}





.questions_form--descrip #submit{
    margin-top: 20px;
    width: 120px;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    color: white;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;

    position: relative;
    outline: none;
}






.mercedez{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("../IMG//img7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mercedez img{
    width: 300px;
    z-index: 9;
}

footer{
    background-color: var(--primary);
    height: 150px;
    border-top: 30px solid var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
footer a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.Overlay{
    background-color: rgba(245, 243, 244, 0.6);
    position: absolute;
    width: 100%;
    height: 300px
}


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition:200ms ease-in-out ;
    z-index: 14;
    background-color: var(--primary);
    border-radius: 10px;
    border:2px solid var(--secondary);
    width: 600px;
    height: 400px;
    max-width: 80%;
   

}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal_header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--secondary);
}

.modal_header .title{
    color: white;
    font-weight: 900;
}

.modal_header .close-button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;

}

.modal_body{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.modal_body .modal_body--img{
    width: 500px;
    height: 200px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.modal_body--img img{
    width:100%;
    height: 100%;
    border-radius: 10px;


}

.modal_body--content{
    color: white;
}

#modal_overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(55, 62, 64, 0.5) ;
    z-index: 13;
    pointer-events: none;
}

#modal_overlay.active{
    opacity: 1;
    pointer-events: all;

}




@media only screen and (max-width: 1159px) {
   
    .carinfo{
        display: flex;
        flex-direction: column;
     
        height: 400px;
    }
    .products .products_title{
 
        margin-bottom: 10px;
        
    }
    .products__cards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
 
        align-items: center;
        height: 800px;
      
       
    }

    .info_general--desc p{
        font-size: 1em;
        padding: 25px;
    }




}


@media only screen and (max-width: 1014px) {
    .questions{
        display: flex;
        flex-direction:column;
    }

    .questions_img img{
        display: none;

    }

    .questions .questions_form--descrip{
   
        margin-bottom: 50px;
        
    }
    

}

@media only screen and (max-width: 931px) {

    .info .info_general{

        display: flex;
        flex-direction: column;

    }
    .info_general .info_video{
        width:360px; 
        height:180px;
    }    
}

@media only screen and (max-width: 640px) {

    .hero_overlay h1{
   

        font-size: 3em;

    
    }

    #header nav{


        display: none;
    
    
    }

    #header #header_img{
       margin: 0 auto;
    }
    .modal_body .modal_body--img {
        width:300px;
        height: 200px;
        border-radius: 10px;
    
    
    }
    .modal_body--img img{
        width:100%;
        height: 100%;
        border-radius: 10px;
    
    
    }
    .modal_body--content{
        font-size: 1em;
    }



}

@media only screen and (max-width: 534px) {

    .questions .questions_form--descrip{

        width: 400px;
        height: 300px;
        margin-bottom: 50px;

    }

    .questions .questions_form--descrip h3{
        font-size: 2em;

    }

    .questions .questions_form--descrip p {

        font-size: 1em;

    }

    .hero_overlay h1{
   
    

        font-size: 2em;

    
    }
    .products .products_title{
        border-bottom:1px solid var(--secondary) ;
        width: 400px;
   
    }
    

    
}


@media only screen and (max-width: 412px) {
    .info_general--desc {
       width: 50px;
    }
    .questions .questions_form--descrip{

        width: 300px;
        height: 300px;
        margin-bottom: 50px;

    }

    .questions .questions_form--descrip h3{
        font-size: 2em;

    }

    .questions .questions_form--descrip p {

        font-size: 1em;

    }

    .hero_overlay h1{
   
    

        font-size: 2em;

    
    }
    .products .products_title{
        border-bottom:1px solid var(--secondary) ;
        width: 300px;
   
    }

    .info_general--desc {
        display: none;
       
    }
    .modal_body .modal_body--img {
        width:200px;
        height: 200px;
        border-radius: 10px;
    
    
    }
    .modal_body--img img{
        width:100%;
        height: 100%;
        border-radius: 10px;
    
    
    }
    .modal_body--content{
        font-size: 0.8em;
    }
    
}


